<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zubu.zerobite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tour And Travel Guide"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeroBite">

        <activity
            android:name=".PlaceDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".PlacesActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

    </application>

</manifest>